.box{
    height: 100%;
    width: 37.5rem;
    display: flex;
    flex-direction: column;
}
header{
    flex-shrink:0;
    height: 4rem;
    width: 100%;
    background: #2C2C2C;
    padding: .5rem .5rem;
    .search input{
        height: 3rem;
        width: 35rem;
        outline: 0;
        border-radius: 1rem;
        background: rgba($color: #4d4c4c, $alpha: 1.0);
        padding: 2rem;
        color: #fff;
    }

}
.tab{
    height: 4rem;
    width: 37.5rem;
    line-height: 4rem;
    background: #fff;
    .list{
        display: flex;
        li{
            margin-left: 2.5rem;
            font-size: 1.6rem;
        }
        .li img{
            height:3rem;
            width: 3rem;
        }
    }
}
.scroll{
    width: 37.5rem;
    flex: 1;
    overflow: hidden;
    .allList{
        overflow: scroll;
        width: 100%;
        flex-wrap: wrap;
        display: none;
        dl{
            float: left;
            width: 46%;
            height: 20rem;
            margin-right: 1rem;
        }
        dl dt img{
            width: 17rem;
            height: 16rem;
        }
    }
    .soldList{
        overflow: scroll;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 1rem;
        display: none;
        dl{
            float: left;
            width: 46%;
            height: 20rem;
            margin-right: 1rem;
        }
        dl dt img{
            width: 17rem;
            height: 16rem;
        }
    }
    .newList{
        overflow: scroll;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 1rem;
        display: none;
        dl{
            float: left;
            width: 46%;
            height: 20rem;
            margin-right: 1rem;
        }
        dl dt img{
            width: 17rem;
            height: 16rem;
        }
    }
}
.show{
    display: block!important;
}
.active{
    color: orangered;
}